.database-redactor {
  height: 30rem;

  &__content {
    height: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  &__column {
    width: 40%;
  }

  &__reset {
    display: flex;
    justify-content: flex-end;
  }
}
