@import "shared/styles/palette.scss";

.cached-tree-view {
  &__node {
    color: $wild-sand;
    &_removed {
      color: $valencia;
    }
  }

  &__empty-tree {
    text-align: center;
    color: $wild-sand;
  }
}
